body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

#sudoku-grid {
    display: flex; 
    flex-direction: column;
    
    width: 450px; 
    height: 450px; 
    border: 3px solid #000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sudoku-row {
    display: grid; 
    grid-template-columns: repeat(9, 1fr); 
    height: 100%; 
    width: 100%;
}

#sudoku-grid input {
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ddd;
    outline: none; 
    transition: background-color 0.2s;
}

.pre-filled {
    background-color: #eee; 
    color: #333;
    font-weight: 700;
}

.player-input {
    background-color: #fff;
    color: #007bff; 
    cursor: pointer;
}

.player-input:focus {
    background-color: #e6f7ff; 
}

.block-separator-right {
    border-right: 3px solid #000 !important;
}

.block-separator-bottom input {
    border-bottom: 3px solid #000 !important;
}

#check-button, #replay-button {
    padding: 10px 20px;
    margin-top: 20px; 
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

#replay-button {
    background-color: #007bff;
}

#check-button:disabled {
    cursor: default; 
    opacity: 1; 
}

.correct {
    background-color: #e6ffe6 !important; 
}

.incorrect {
    background-color: #ffe6e6 !important; 
}

.pre-filled.incorrect {
    background-color: #ffcccc !important;
}

.player-input.correct:focus {
    background-color: #d8ffcc !important;
}